img {
    height: 200px;
    width: 200px;
}

h1 {
    color:#484848;
    text-align: center;
    align-items: flex-start;
    margin: -10px 0px 0px 0px;
}

.container {
    width: 900px;
    background-color: lightgray;
    margin: 0px auto;
    padding: 20px;
    font-family: sans-serif;
}

.Frow {
    display: flex;
    background-color: lightskyblue;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 15px 0px;
}

.Srow {
    display: flex;
    background-color: pink;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    margin: 15px 0px;
}

.Trow {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    margin: 15px 0px;
}

p {
    color:#484848;
    text-align: center;
}